body{
	font-family: 'Indie Flower', cursive;
}


h1 {
	text-shadow: 2px 2px #9370DB;
}

#buttonView {
	font-family: 'Dosis', sans-serif;
}

#gifGallery {
	float:right;
}

div.gif_div {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 120px;
}
img {
    width: 100px;
    height: 100px;
    background-color: aqua;
}
.gif-rating {
    display: block;
}